// JsonLd file configuration.
//
// @Usage:
//    1. Jsonld keywords MUST start with "jsonld_"
//    2. Jsonld keywords content could be in closure " '''{ ... }'''  "
//    3. Jsonld keywords MUST be valid JSON, you could check syntax here: http://jsonlint.com/
//    4. Class configuration MUST start with "class_"
//

class_annotation {
    jsonld_context = '''{
              "@context": {
                "xsd": "http://www.w3.org/2001/XMLSchema#",
                "id": "http://vocab.lappsgrid.org/jsonld/annotation/id",
                "label" : "http://vocab.lappsgrid.org/jsonld/annotation/label",
                "start": {
                    "@id":"http://vocab.lappsgrid.org/jsonld/start",
                    "@type": "xsd:integer"
                },
                "end": {
                    "@id":"http://vocab.lappsgrid.org/jsonld/end",
                    "@type": "xsd:integer"
                },
                "features" :{
                    "@id":"http://vocab.lappsgrid.org/jsonld/features",
                    "@container":"@index"
                },
                "metadata" : {
                    "@id":"http://vocab.lappsgrid.org/jsonld/metadata",
                    "@container":"@index"
                }
              }
          }'''

    jsonld_id = '''{
            "@id": "http://vocab.lappsgrid.org/jsonld/annotation"
          }'''

}


class_container {
    jsonld_context = '''{
              "@context": {
                "xsd": "http://www.w3.org/2001/XMLSchema#",
                "text": "http://vocab.lappsgrid.org/jsonld/container/text",
                "metadata" : {
                     "@id":"http://vocab.lappsgrid.org/jsonld/container/metadata",
                     "@container":"@index"
                },
                "steps" : {
                    "@id":"http://vocab.lappsgrid.org/jsonld/container/steps",
                    "@container":"@list"
                }
              }
          }'''

    jsonld_id = '''{
            "@id": "http://vocab.lappsgrid.org/jsonld/container"
          }'''

}
